* {box-sizing: border-box;
}

main {
    background-color: #fdc99b;
    margin: auto;
    text-align: center;
    width: 80%;
    max-width: 800px;
    border: 15px solid rgb(236, 199, 174);
    padding: 20px;
    border-radius: 15px;
}

header {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

a {
    color: rgb(168, 151, 129);
    text-decoration: none;
    border: 5px solid wheat;
    padding: 2px;
    
}

article {
    width: 500px;
    border: 10px solid rgb(255, 215, 185);
    padding: 40px;
    margin: auto;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
}

img {
    width: 100%;
    max-width: 300px;
}

body {
    background-color:rgb(243, 185, 162);
    padding: 0;
    margin:0;
}